# Скопируйте в .env в корне проекта (рядом с docker-compose.yml)
# cp .env.example .env

POSTGRES_USER=educa
POSTGRES_PASSWORD=20340234
POSTGRES_DB=educa

REACT_APP_BACKEND_URL=https://kubik-ct.online
